@model LaChecker.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}
<h2>Please reenter your password</h2>
@if (ViewBag.ErrorMessage != null) {
    <div class="alert alert-dismissible alert-danger">
        <button class="close" type="button" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong>@ViewBag.ErrorMessage
    </div>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "password_input" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.user.Password)
        @Html.HiddenFor(model => model.user.Nickname)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
